In [9]:
#Code cell 1
#import pandas
import pandas as pd

#create a pandas dataframe called "training" from the basketball-train.csv file
training = pd.read_csv("basketball.csv")

In [10]:
training = pd.read_csv("basketball.csv")

In [11]:
#Code cell 2
#verify the contents of the training dataframe using the pandas info() method.
# Muestra información del contenido del dataframe de pandas
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
height                 54 non-null float64
weight                 54 non-null int64
success_field_goals    54 non-null float64
success_free_throws    54 non-null float64
avg_points_scored      54 non-null float64
dtypes: float64(4), int64(1)
memory usage: 2.2 KB

In [12]:
#Code cell 3
#view the first few rows of the data
#Mostrar las primeras líneas de la data
training.head()

   height  weight  success_field_goals  success_free_throws  avg_points_scored
0     6.8     225                0.442                0.672                9.2
1     6.3     180                0.435                0.797               11.7
2     6.4     190                0.456                0.761               15.8
3     6.2     180                0.416                0.651                8.6
4     6.9     205                0.449                0.900               23.2

In [13]:
#code cell 4 -- Reemplaza los valores 'male' por cero
training["height"] = training["height"].apply(lambda toLabel: 0 if toLabel == 'male' else 1)

In [14]:
training.head()

   height  weight  success_field_goals  success_free_throws  avg_points_scored
0       1     225                0.442                0.672                9.2
1       1     180                0.435                0.797               11.7
2       1     190                0.456                0.761               15.8
3       1     180                0.416                0.651                8.6
4       1     205                0.449                0.900               23.2

In [15]:
#Verificamos cuantos nulos hay en cada columna del dataframe -- isnull, reconoce los nulos
missing_values_count = training.isnull().sum()

In [16]:
missing_values_count[0:15]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [17]:
#code cell 6  -- Rellena los nulos por la media (mean)
training["weight"].fillna(training["weight"].mean(), inplace=True)

In [18]:
training.describe()

,height,weight,success_field_goals,success_free_throws,avg_points_scored
count,54.0,54.000000,54.000000,54.000000,54.000000
mean,1.0,209.907407,0.449111,0.741852,11.790741
std,0.0,30.265036,0.056551,0.100146,5.899257
min,1.0,105.000000,0.291000,0.244000,2.800000
25%,1.0,185.000000,0.415250,0.713000,8.150000
50%,1.0,212.500000,0.443500,0.753500,10.750000
75%,1.0,235.000000,0.483500,0.795250,13.600000
max,1.0,263.000000,0.599000,0.900000,27.400000

In [19]:
#Cuenta los valores nulos
missing_values_count = training.isnull().sum()

In [20]:
missing_values_count[0:15]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [21]:
training["weight"].mean()

209.90740740740742

In [22]:
del training['success_field_goals']
del training['success_free_throws']
del training['avg_points_scored']

In [23]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 2 columns):
height    54 non-null int64
weight    54 non-null int64
dtypes: int64(2)
memory usage: 992.0 bytes

In [25]:
#Elimina filas que tienen por lo menos un na
training = training.dropna()

In [26]:
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 53
Data columns (total 2 columns):
height    54 non-null int64
weight    54 non-null int64
dtypes: int64(2)
memory usage: 1.3 KB

In [35]:
#Cambiamos los valores a porcentaje de tiros
training["success_field_goals"].replace(['Q','S','C'],[0,1,2], inplace=True)

KeyError: 'success_field_goals'